body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), 10%, #000000), url('../Resources/mainBackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#titleHeader {
    text-align: center;
    color: white;
    font-size: 32px;
}

#description {
    color: white;
    font-size: 20px;
}

#buttonDiv {
    text-align: center;
    margin-top: 400px;
}

#generateButton {
    text-align: center;
    color: white;
    background-color: #242424;
}

#randomWeapons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: white;
}

.weaponName {
    font-size: 42px;
}

#randomPrimary {
    text-align: center;
    color: white;
    border-right: solid red 2px;
    width: 100%;
}

#randomSecondary {
    text-align: center;
    color: white;
    border-left: solid red 2px;
    border-right: solid red 2px;
    width: 100%;
}

#randomMelee {
    text-align: center;
    color: white;
    border-left: solid red 2px;
    width: 100%;
}

.attachements {
    color: white;
    width: 100%;
    height: 400px;
}

.attachement {
    text-align: center;
    background-color: rgba(113, 113, 113, 0.497);
    color: white;
    border: solid white 1px;
    height: 20px;
}

#regenerateButton {
    background-color: #222222;
    color: white;
    display: block;
    width: 100px;
    margin: 10px auto auto auto;
}