<!DOCTYPE html>
<head>
    <%- include('../partials/header', {title: 'Disclaimer'}) %>
</head>
<body>
    <img id="homeButton" src="Resources/BlackOps6Logo.png">
    <p style="color: white;text-align: center;height: 100%;justify-content: center;align-items: center;">
        <strong style="font-size: 30px;">Disclaimer</strong><br>
        This random class generator is an unofficial fan-made project inspired by <em>Call of Duty: Black Ops 6</em>.<br>
        It is not affiliated with, endorsed by, or approved by Activision Publishing, Inc.<br>
        All rights to <em>Call of Duty: Black Ops 6</em> and its associated content, including but not limited to, trademarks, images, and in-game assets, are the property of Activision Publishing, Inc.<br>
        This tool is provided for free and is intended solely for non-commercial, entertainment purposes.<br>
        If you are the copyright owner and believe this project violates your rights, please contact me at <br><a href="mailto:yousif3105@gmail.com">yousif3105@gmail.com</a><br><br>
        Massive thanks to youtuber "Destroyerfield51" (<a href="https://www.youtube.com/@Destroyerfield51">https://www.youtube.com/@Destroyerfield51</a>) for providing a video with every weapon and all of their attachments.<br>
        Link to the video: <a href="https://www.youtube.com/watch?v=Uan-P_FHai0">https://www.youtube.com/watch?v=Uan-P_FHai0</a>
    </p>

    <script>
        document.getElementById("homeButton").addEventListener('click', function() {
            window.location.href = "/";
        })
    </script>
</body>