<!DOCTYPE html>
<head>
    <%- include('../partials/header', {title: 'Generated Class'}) %>
</head>
<body>
    <div id="randomWeapons">
        <div id="randomPrimary">
            <p class="weaponName" id="primaryName"></p>
            <div class="attachements" id="primaryAttachments">
                
            </div>
        </div>
        <div id="randomSecondary">
            <p class="weaponName" id="secondaryName"></p>
            <div class="attachements" id="secondaryAttachments">

            </div>
        </div>
        <div id="randomMelee">
            <p class="weaponName" id="meleeName"></p>
        </div>
    </div>

    <button id="regenerateButton">Generate!</button>

    <script src="js/generateRandomClass.js"></script>
</body>