<!DOCTYPE html>
<head lang="en">
    <%- include('../partials/header', {title: 'Generated Class'}) %>
</head>
<body>
    <img id="homeButton" src="Resources/BlackOps6Logo.png">
    <div id="randomClassBody">
        <div id="randomWeapons">
                <a href="#" id="primaryAttachmentButton">
                    <div id="randomPrimary">
                        <div class="weaponText">
                            <p id="primaryTitle">Primary:</p>
                            <p class="weaponName" id="primaryName"></p>
                            <p class="circles" id="primaryAttachmentsAmount"></p>
                        </div>
                        <img class="weaponImage" id="primaryImage">
                    </div>
                    <div class="attachmentTooltip" id="primaryAttachmentTooltip">
                        <p>Press to view the attachments.</p>
                    </div>
                </a>
                <a href="#" id="secondaryAttachmentButton">
                    <div id="randomSecondary">
                        <div class="weaponText">
                            <p id="secondaryTitle">Secondary:</p>
                            <p class="weaponName" id="secondaryName"></p>
                            <p class="circles" id="secondaryAttachmentsAmount"></p>
                        </div>
                        <img class="weaponImage" id="secondaryImage">
                    </div>
                    <div class="attachmentTooltip" id="secondaryAttachmentTooltip">
                        <p>Press to view the attachments.</p>
                    </div>
                </a>
            <div id="randomMelee">
                <div class="weaponText">
                    <p id="meleeTitle">Melee:</p>
                    <p class="weaponName" id="meleeName"></p>
                </div>
                <img class="weaponImage" id="meleeImage">
            </div>
        </div>
    
        <div id="randomEquipment">
            <div id="lethalDivision">
                <p class="equipmentClassifier" id="lethalClassifier">Lethal: </p>
                <div id="randomLethal">
        
                </div>
            </div>
            <div id="tacticalDivision">
                <p class="equipmentClassifier" id="tacticalClassifier">Tactical: </p>
                <div id="randomTactical">
        
                </div>
            </div>
            <div id="fieldUpgradeDivision">
                <p class="equipmentClassifier" id="fieldClassifier">Field Upgrade: </p>
                <div id="randomFieldUpgrade">
        
                </div>
            </div>
        </div>
    
        <div id="randomPerks">
            <div class="perkDivision">
                <p class="perkClassifier">Perk 1:</p>
                <div class="perkDiv" id="perk1"></div>
            </div>
            <div class="perkDivision">
                <p class="perkClassifier">Perk 2:</p>
                <div class="perkDiv" id="perk2"></div>
            </div>
            <div class="perkDivision">
                <p class="perkClassifier">Perk 3:</p>
                <div class="perkDiv" id="perk3"></div>
            </div>
            <div class="perkDivision">
                <p class="perkClassifier">Perk 4:</p>
                <div class="perkDiv" id="perk4"></div>
            </div>
            <div class="perkDivision">
                <p class="perkClassifier">Specialty:</p>
                <div class="perkDiv" id="Specialty"></div>
            </div>
        </div>
    
        <div id="wildcardDivision">
            <p id="wildcardClassifier">Wildcard:</p>
            <div id="randomWildcard">
                
            </div>
        </div>
    
        <div id="randomScorestreaks">
    
        </div>
    </div>

    <div class="attachmentModals" id="primaryAttachmentModal">
        <button class="closeButton" id="closeButton">close</button>
        <div class="modalContent" id="primaryAttachmentModalContent">
            <p style="color:white;font-size:20px;text-align: center;;">Attachments:</p>
            <div class="attachements" id="primaryAttachments">
                
            </div>
        </div>
    </div>

    <div class="attachmentModals" id="secondaryAttachmentModal">
        <button class="closeButton" id="secondCloseButton">close</button>
        <div class="modalContent" id="secondaryAttachmentModalContent">
            <p style="color:white;font-size:20px;text-align: center;">Attachments:</p>
            <div class="attachements" id="secondaryAttachments">
                
            </div>
        </div>
    </div>

    <button id="regenerateButton">Generate!</button>

    <script src="js/generateRandomClass.js"></script>
</body>