<!DOCTYPE html>
<head>
    <%- include('../partials/header', {title: 'Generated Class'}) %>
</head>
<body>
    <div id="randomClassBody">
        <div id="randomWeapons">
            <div id="randomPrimary">
                <p class="weaponName" id="primaryName"></p>
                <a href="#" id="primaryAttachmentButton">
                    <img class="weaponImage" id="primaryImage">
                </a>
            </div>
            <div id="randomSecondary">
                <p class="weaponName" id="secondaryName"></p>
                <a href="#" id="secondaryAttachmentButton">
                    <img class="weaponImage" id="secondaryImage">
                </a>
            </div>
            <div id="randomMelee">
                <p class="weaponName" id="meleeName"></p>
                <img class="weaponImage" id="meleeImage">
            </div>
        </div>
    
        <div id="randomEquipment">
            <div id="randomLethal">
    
            </div>
            <div id="randomTactical">
    
            </div>
            <div id="randomFieldUpgrade">
    
            </div>
        </div>
    
        <div id="randomPerks">
            
        </div>
    
        <div id="randomWildcard">
            
        </div>
    
        <div id="randomScorestreaks">
    
        </div>
    </div>

    <div class="attachmentModals" id="primaryAttachmentModal">
        <button class="closeButton" id="closeButton">close</button>
        <div class="modalContent" id="primaryAttachmentModalContent">
            <p style="color:white;font-size:20px;text-align: center;;">Attachments:</p>
            <div class="attachements" id="primaryAttachments">
                
            </div>
        </div>
    </div>

    <div class="attachmentModals" id="secondaryAttachmentModal">
        <button class="closeButton" id="secondCloseButton">close</button>
        <div class="modalContent" id="secondaryAttachmentModalContent">
            <p style="color:white;font-size:20px;text-align: center;">Attachments:</p>
            <div class="attachements" id="secondaryAttachments">
                
            </div>
        </div>
    </div>

    <button id="regenerateButton">Generate!</button>

    <script src="js/generateRandomClass.js"></script>
</body>