<!DOCTYPE html>
<head>
    <%- include('../partials/header', {title: 'Home'}) %>
</head>
<body>
    <h1 id="titleHeader">Home</h1>
    <p id="description">Welcome to the <em>Call of Duty: Black Ops 6</em> random class generator</p>

    <div id="buttonDiv">
        <button id="generateButton" type="button">Generate!</button>
    </div>

    <script src="js/home.js"></script>
</body>