<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/homePageStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Call of Duty: Black Ops 6 Random Class Generator">
    <meta name="google-site-verifitcation" content="LxlFTDGhOmwxciWJxKRuMoKewt4Ac63XifEqw4UlDNo">
    <link rel="icon" type="image/png" href="/resources/favicon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <title>Call of Duty: Black Ops 6 Random Class Generator</title>

    <link rel="canonical" href="https://bo6rcg.com/"/>
</head>
<body>
    <div id="headers">
        <img id="homeButtonHome" src="/resources/BlackOps6Logo.png" alt="BlackOps6Logo">
        <h1 id="titleHeader">Home</h1>
    </div>
    <p id="description">Welcome to the generator</p>

    <div id="settings">
        <div id="level">
            <label for="curLevel" id="curLevelLabel">Level: 55</label>
            <input type="range" min="1" max="55" value="55" class="slider" id="curLevel">
        </div>
        <div id="DLC">
            <label for="includeDLC" id="includeLabel">Include DLC Weapons</label>
            <input type="checkbox" id="includeDLC">
        </div>
    </div>

    <div id="buttonDiv">
        <button id="generateButton" type="button">Generate!</button>
    </div>

    <div id="extras">
        <button id="disclaimerButton" type="button">disclaimer</button>
    </div>

    <script src="js/home.js"></script>
</body>